@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.about-me-section-container {
    font-family: "Roboto";
    color: white;
    padding-top: 120px;

}

.section-main-heading {
    color: #cced00;
}


.about-me-section-container-image {
    border-radius: 15px;

}

.section-bg-color-one {
    background-color: #323f4b;
}

.section-bg-color-two {
    background-color: #1f2933;
}

.about-me-section-container-details {
    color: #9aa5b1;
    font-size: 18px;

}


.skills-container {
    font-family: "Roboto";
}

.skills-card {
    background-color: #323f4b;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    text-align: center;

}

.skill-image {
    height: 70px;
    width: 100px;
    border-radius: 5px;
}

.skill-card-title {
    color: white;
    font-weight: bold;
    font-size: 20px;

}


.projects-container { 
    font-family: "Roboto";
    padding-top: 120px;
}


.project-card {
    background-color: #1f2933;
    color: white;
    border-radius: 8px;
    height: 400px;
}

.project-card-title {
    font-weight: bold;
    font-size: 20px;
}

.project-card-description {
    color: #9aa5b1;
}
.project-image {
    height: 180px
}

